--
-- PostgreSQL database dump
--

\restrict oSBSULDQl4Anyg22BltJZrerpziBXctyQ3NbowVD68vZ8tehRCZEmz3Dcb6GWvl

-- Dumped from database version 18.4
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: bookings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bookings (
    id character varying(255) DEFAULT (gen_random_uuid())::text NOT NULL,
    user_id character varying(255) NOT NULL,
    service_id character varying(255) NOT NULL,
    variante_id character varying(255),
    client_nom character varying(255) NOT NULL,
    client_email character varying(255) NOT NULL,
    client_telephone character varying(50),
    date_heure timestamp without time zone NOT NULL,
    lieu character varying(20) DEFAULT 'salon'::character varying,
    adresse text,
    taille character varying(20),
    grosseur character varying(20),
    statut character varying(30) DEFAULT 'en_attente'::character varying,
    acompte_montant numeric(10,2) NOT NULL,
    acompte_stripe_id character varying(255),
    prix_total numeric(10,2) NOT NULL,
    message text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    reminder_sent boolean DEFAULT false
);


ALTER TABLE public.bookings OWNER TO postgres;

--
-- Name: disponibilites; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.disponibilites (
    id character varying(255) DEFAULT (gen_random_uuid())::text NOT NULL,
    user_id character varying(255) NOT NULL,
    jour_semaine integer NOT NULL,
    heure_debut character varying(5) NOT NULL,
    heure_fin character varying(5) NOT NULL,
    actif boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.disponibilites OWNER TO postgres;

--
-- Name: exceptions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.exceptions (
    id character varying(255) DEFAULT (gen_random_uuid())::text NOT NULL,
    user_id character varying(255) NOT NULL,
    date_exception date NOT NULL,
    actif boolean DEFAULT false,
    heure_debut character varying(5),
    heure_fin character varying(5),
    raison character varying(255),
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.exceptions OWNER TO postgres;

--
-- Name: photos_service; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.photos_service (
    id character varying(255) DEFAULT (gen_random_uuid())::text NOT NULL,
    service_id character varying(255) NOT NULL,
    url text NOT NULL,
    public_id text,
    ordre integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.photos_service OWNER TO postgres;

--
-- Name: services; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.services (
    id character varying(255) DEFAULT (gen_random_uuid())::text NOT NULL,
    user_id character varying(255) NOT NULL,
    nom character varying(255) NOT NULL,
    categorie character varying(100) NOT NULL,
    duree_base integer NOT NULL,
    prix_base numeric(10,2) NOT NULL,
    description text,
    inclus text[],
    conseils text,
    statut character varying(20) DEFAULT 'active'::character varying,
    populaire boolean DEFAULT false,
    nouveaute boolean DEFAULT false,
    ordre integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.services OWNER TO postgres;

--
-- Name: transactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.transactions (
    id character varying(255) DEFAULT (gen_random_uuid())::text NOT NULL,
    booking_id character varying(255) NOT NULL,
    montant numeric(10,2) NOT NULL,
    type character varying(20) NOT NULL,
    stripe_intent_id character varying(255),
    statut character varying(20) NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.transactions OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id character varying(255) DEFAULT (gen_random_uuid())::text NOT NULL,
    email character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    nom_salon character varying(255),
    slug character varying(255),
    logo_url text,
    logo_public_id text,
    banniere_url text,
    banniere_public_id text,
    telephone character varying(50),
    theme_primary character varying(20) DEFAULT '#C2185B'::character varying,
    theme_background character varying(20) DEFAULT '#FDFBF9'::character varying,
    stripe_account_id character varying(255),
    acompte_type character varying(20) DEFAULT 'percentage'::character varying,
    acompte_valeur integer DEFAULT 30,
    notification_email boolean DEFAULT true,
    notification_sms boolean DEFAULT false,
    email_verified timestamp without time zone,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: variantes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.variantes (
    id character varying(255) DEFAULT (gen_random_uuid())::text NOT NULL,
    service_id character varying(255) NOT NULL,
    taille character varying(20),
    grosseur character varying(20),
    prix_supplement numeric(10,2) DEFAULT 0,
    duree_supplement integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.variantes OWNER TO postgres;

--
-- Name: vue_acomptes_mois; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.vue_acomptes_mois AS
 SELECT COALESCE(sum(acompte_montant), (0)::numeric) AS total_acomptes
   FROM public.bookings
  WHERE ((EXTRACT(month FROM created_at) = EXTRACT(month FROM CURRENT_DATE)) AND (EXTRACT(year FROM created_at) = EXTRACT(year FROM CURRENT_DATE)));


ALTER VIEW public.vue_acomptes_mois OWNER TO postgres;

--
-- Name: vue_rdv_jour; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.vue_rdv_jour AS
 SELECT b.id,
    b.date_heure,
    b.client_nom,
    s.nom AS service_nom,
    b.lieu,
    b.statut,
    b.acompte_montant
   FROM (public.bookings b
     JOIN public.services s ON (((b.service_id)::text = (s.id)::text)))
  WHERE (date(b.date_heure) = CURRENT_DATE)
  ORDER BY b.date_heure;


ALTER VIEW public.vue_rdv_jour OWNER TO postgres;

--
-- Data for Name: bookings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.bookings (id, user_id, service_id, variante_id, client_nom, client_email, client_telephone, date_heure, lieu, adresse, taille, grosseur, statut, acompte_montant, acompte_stripe_id, prix_total, message, created_at, updated_at, reminder_sent) FROM stdin;
\.


--
-- Data for Name: disponibilites; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.disponibilites (id, user_id, jour_semaine, heure_debut, heure_fin, actif, created_at) FROM stdin;
db867d0a-558c-4507-9315-726868c3fbab	coiffeuse_1	0	09:00	18:00	t	2026-05-22 15:43:47.301558
9c3990a0-dcaf-4fd9-a700-ebb30e574d9f	coiffeuse_1	1	09:00	18:00	t	2026-05-22 15:43:47.301558
08dd92ec-af1e-4019-94b1-9b87f6ab1d05	coiffeuse_1	2	09:00	18:00	t	2026-05-22 15:43:47.301558
ce63e24f-af72-4680-bfde-fa5a211e7634	coiffeuse_1	3	09:00	18:00	t	2026-05-22 15:43:47.301558
cc3e4b0c-cd2c-4d2e-96d1-f376ba61e612	coiffeuse_1	4	09:00	18:00	t	2026-05-22 15:43:47.301558
\.


--
-- Data for Name: exceptions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.exceptions (id, user_id, date_exception, actif, heure_debut, heure_fin, raison, created_at) FROM stdin;
\.


--
-- Data for Name: photos_service; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.photos_service (id, service_id, url, public_id, ordre, created_at) FROM stdin;
\.


--
-- Data for Name: services; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: transactions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.transactions (id, booking_id, montant, type, stripe_intent_id, statut, created_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: variantes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: bookings bookings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_pkey PRIMARY KEY (id);


--
-- Name: disponibilites disponibilites_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.disponibilites
    ADD CONSTRAINT disponibilites_pkey PRIMARY KEY (id);


--
-- Name: exceptions exceptions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exceptions
    ADD CONSTRAINT exceptions_pkey PRIMARY KEY (id);


--
-- Name: photos_service photos_service_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.photos_service
    ADD CONSTRAINT photos_service_pkey PRIMARY KEY (id);


--
-- Name: services services_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.services
    ADD CONSTRAINT services_pkey PRIMARY KEY (id);


--
-- Name: transactions transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_slug_key UNIQUE (slug);


--
-- Name: variantes variantes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.variantes
    ADD CONSTRAINT variantes_pkey PRIMARY KEY (id);


--
-- Name: idx_bookings_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_bookings_date ON public.bookings USING btree (date_heure);


--
-- Name: idx_bookings_statut; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_bookings_statut ON public.bookings USING btree (statut);


--
-- Name: idx_bookings_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_bookings_user ON public.bookings USING btree (user_id);


--
-- Name: idx_disponibilites_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_disponibilites_user ON public.disponibilites USING btree (user_id);


--
-- Name: idx_exceptions_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_exceptions_date ON public.exceptions USING btree (date_exception);


--
-- Name: idx_exceptions_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_exceptions_user ON public.exceptions USING btree (user_id);


--
-- Name: idx_services_statut; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_services_statut ON public.services USING btree (statut);


--
-- Name: idx_services_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_services_user ON public.services USING btree (user_id);


--
-- Name: bookings update_bookings_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_bookings_updated_at BEFORE UPDATE ON public.bookings FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: services update_services_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_services_updated_at BEFORE UPDATE ON public.services FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: users update_users_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_users_updated_at BEFORE UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: bookings bookings_service_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_service_id_fkey FOREIGN KEY (service_id) REFERENCES public.services(id);


--
-- Name: bookings bookings_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: bookings bookings_variante_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_variante_id_fkey FOREIGN KEY (variante_id) REFERENCES public.variantes(id);


--
-- Name: disponibilites disponibilites_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.disponibilites
    ADD CONSTRAINT disponibilites_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: exceptions exceptions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exceptions
    ADD CONSTRAINT exceptions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: photos_service photos_service_service_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.photos_service
    ADD CONSTRAINT photos_service_service_id_fkey FOREIGN KEY (service_id) REFERENCES public.services(id) ON DELETE CASCADE;


--
-- Name: services services_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.services
    ADD CONSTRAINT services_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: transactions transactions_booking_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_booking_id_fkey FOREIGN KEY (booking_id) REFERENCES public.bookings(id) ON DELETE CASCADE;


--
-- Name: variantes variantes_service_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.variantes
    ADD CONSTRAINT variantes_service_id_fkey FOREIGN KEY (service_id) REFERENCES public.services(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict oSBSULDQl4Anyg22BltJZrerpziBXctyQ3NbowVD68vZ8tehRCZEmz3Dcb6GWvl

